$black: #000;
$dark-gary: #363636;
$gray: #ededed;
$white: #fff;
$support-red: #dc3545;
$support-green: #28a745;
$support-yellow: #ffc107;
$support-blue: #096ee3;
$second-blue: #40a9ff;

$background: $gray;
$gray-border-color: $gray;
$text-color: $dark-gary;

$base-font-size: 16px;
$font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;

$base-padding: 10px;
$base-margin: 20px;

.image-size {
  width: 150px;
  height: 150px;
}
